<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wohoo!!</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/farbtastic.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" type="text/css" href="static/css/bootstrap-switch.css">
	<link rel="stylesheet" media="screen" type="text/css" href="static/css/main.css">
	
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/buttons.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/farbtastic.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-switch.js"></script
	
    
  </head>
  <body>

   <div class="container">
    <div class = "masthead">
		<img src="static/images/header2.jpg"/>
	</div>
	<div class="well">
		<div class="row">
			<div class="col">
				<h3>Krat 1</h3>
					<div class="form-item"><label for="colorkrat1">Kleur:</label><input type="text" id="colorkrat1" name="colorkrat1" value="#123456" /></div>
					<div id="pickerkrat1"></div>
		
					<script type="text/javascript" charset="utf-8">
						$(document).ready(function() {
						$('#pickerkrat1').farbtastic('#colorkrat1');
						var picker = $.farbtastic('#pickerkrat1');  //picker variable
						picker.setColor("c65653"); //set initial color
						picker.linkTo(onColorChange); //link to callback
						function onColorChange(hexvalue) {
							$("#colorkrat1").val(hexvalue);
							$('#colorkrat1').css('background-color', hexvalue);
							jQuery.get("set/0/" + hexvalue.replace('#',''));
						};
					});	
					</script>
				
			</div>
			<div class="col"> 
				<h3>Krat 2</h3>
					<div class="form-item"><label for="colorkrat2">Kleur:</label><input type="text" id="colorkrat2" name="colorkrat2" value="#123456" /></div>
					<div id="pickerkrat2"></div>
		
					<script type="text/javascript" charset="utf-8">
						$(document).ready(function() {
						$('#pickerkrat2').farbtastic('#colorkrat2');
						var picker = $.farbtastic('#pickerkrat2');  //picker variable
						picker.setColor("c65653"); //set initial color
						picker.linkTo(onColorChange); //link to callback
						function onColorChange(hexvalue) {
							$("#colorkrat2").val(hexvalue);
							$('#colorkrat2').css('background-color', hexvalue);
							jQuery.get("set/1/"+hexvalue.replace('#',''));
						};
					});	
					</script>
				
			</div>
			<div class="col">
			<h3>Krat 3</h3>
					<div class="form-item"><label for="colorkrat3">Kleur:</label><input type="text" id="colorkrat3" name="colorkrat3" value="#123456" /></div>
					<div id="pickerkrat3"></div>
		
					<script type="text/javascript" charset="utf-8">
						$(document).ready(function() {
						$('#pickerkrat3').farbtastic('#colorkrat3');
						var picker = $.farbtastic('#pickerkrat3');  //picker variable
						picker.setColor("c65653"); //set initial color
						picker.linkTo(onColorChange); //link to callback
						function onColorChange(hexvalue) {
							$("#colorkrat3").val(hexvalue);
							$('#colorkrat3').css('background-color', hexvalue);
							jQuery.get("set/2/"+hexvalue.replace('#',''));
						};
					});	
					</script>
			</div>
			<div class="col">
				<h3>Krat 4</h3>
					<div class="form-item"><label for="colorkrat4">Kleur:</label><input type="text" id="colorkrat4" name="colorkrat4" value="#123456" /></div>
					<div id="pickerkrat4"></div>
		
					<script type="text/javascript" charset="utf-8">
						$(document).ready(function() {
						$('#pickerkrat4').farbtastic('#colorkrat4');
						var picker = $.farbtastic('#pickerkrat4');  //picker variable
						picker.setColor("c65653"); //set initial color
						picker.linkTo(onColorChange); //link to callback
						function onColorChange(hexvalue) {
							$("#colorkrat4").val(hexvalue);
							$('#colorkrat4').css('background-color', hexvalue);
							jQuery.get("set/3/"+hexvalue.replace('#',''));
						};
					});	
					</script>
			</div>
		</div>
	</div>
	
	<div class = "well">
	<h3> Programmering </h3>
	<button type="button" class="btn btn-default btn-lg" onclick="onColorwipeClick()">Colorwipe</button>
	<button type="button" class="btn btn-default btn-lg" onclick="onColorwipeClickpk()">Colorwipe-per-krat</button>
	<button type="button" class="btn btn-default btn-lg" onclick="onPulseClick()">Pulse</button>
	<button type="button" class="btn btn-default btn-lg" onclick="onPixelwipeClick()">Pixelwipe</button>
	<button type="button" class="btn btn-default btn-lg" onclick="onPixelwipeClickpk()">Pixelwipe-per-krat</button>
	<button type="button" class="btn btn-default btn-lg" onclick="onRainbowClick()">Rainbowwipe</button>
	<button type="button" class="btn btn-default btn-lg" onclick="onNothingClick()">Effen</button>
	<button type="button" class="btn btn-default btn-lg" onclick="onUitClick()">Uit</button>
	</class>
		
  </div>
	
	<div class=page>
          {% with flashes = get_flashed_messages(with_categories=True) %}
            {% if flashes %}
              <ul class=flashes>
              {% for category, message in flashes %}
                {% if category == "success" %}
                    <div class="alert alert-success">{{ message }}</div>
                {% elif category == "error" %}
                    <div class="alert alert-error">{{ message }}</div>
                {% elif category == "warning" %}
                    <div class="alert alert-block">{{ message }}</div>
                {% else %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div class=body>
			{% block body %}{% endblock %}
          </div>
          </br>
    </div>
  </div>
	
  </body>
</html>


