<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Let's try</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to the ws2801-console!</h1>

<div id="buttons">
	<button type="button" class="btn btn-default btn-lg" id="colorwipe" onclick="colorwipeClicked();">
	Colorwipe
		<script type="text/javascript">
		function colorwipeClicked() {
       // alert('clicked');
		jQuery.get("/set/"+colorwipe);
    }
	</script>
	</button>
	<button type="button" class="btn btn-default btn-lg" onclick="rainbowClicked()">
	Rainbowmode
	<script type="text/javascript">
		function rainbowClicked() {
       // alert('clicked');
		jQuery.get("/set/"+rainbow);
    }
	</script>
	</button>
	
	</div>
	<div " id="colorpicker">

	</div>
	
    <script type="text/javascript">
        window.onload = function () {
            var out = document.getElementById("colorpicker"),
                reg = /^#(.)\1(.)\2(.)\3$/;
            
            // this is where colorpicker created
            var cp = Raphael.colorpicker(20, 200, 300, "#eee"); //position below buttons
        
            out.onkeyup = function () {
                cp.color(this.value);
               
            };
            // assigning onchange event handler
            cp.onchange = function (clr) {
                console.debug("Before replace : "+clr);
                out.value = clr.replace(reg, "#$1$2$3");
                out.style.background = clr;
                out.style.color = Raphael.rgb2hsb(clr).b < .5 ? "#fff" : "#000";
                console.debug("Clr : "+Raphael.color(clr));
                jQuery.get("/set/"+clr.replace('#',''));
            };

            // thats it. Too easy
        };
        </script>
	<div class="container">
        <div class=page>
          {% with flashes = get_flashed_messages(with_categories=True) %}
            {% if flashes %}
              <ul class=flashes>
              {% for category, message in flashes %}
                {% if category == "success" %}
                    <div class="alert alert-success">{{ message }}</div>
                {% elif category == "error" %}
                    <div class="alert alert-error">{{ message }}</div>
                {% elif category == "warning" %}
                    <div class="alert alert-block">{{ message }}</div>
                {% else %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div class=body>
          {% block body %}{% endblock %}
          </div>
          </br>
        </div>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/raphael-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/colorwheel.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/colorpicker.js" type="text/javascript" charset="utf-8"></script>

   
	<script src="/static/js/bootstrap.min.js"></script>
	
  </body>
</html>

<!--	<div class="dropdown">
	<button class="btn btn-lg btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Standaard
    <span class="caret"></span>
	</button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="colorwipe">Colorwipe</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="rainbow">Rainbow</a></li>
  </ul>
  <script type="text/javascript">
	$('#colorwipe').click(function(e) {
    alert('alerted');
    e.preventDefault();// prevent the default anchor functionality
	});
</script>-->